
.nav{
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    margin-bottom: 20px;
  }
  

  h2{
    margin-top: 15px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 900;
    /* background-color: red; */
  }


      .nav span  {
        margin-top: 15px;
        font-weight: bold;
        padding-right: 0.5rem;
        color: FFFFFF;
        font-family: 'Nunito Sans';
        font-size: 16px;
        margin-right: 70px; 
        flex-wrap: wrap;
      }


  .nav span i {
    margin-right: 0.7rem;
  }
  
  
  .nav-span:hover {
    cursor: pointer;
  }

/* media   queries for Mobile View */
@media screen and (min-width:320px) and (max-width: 480px) { 
  
    .nav{
      /* width: 29.5rem; */
      height: 80px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 38px;
      color: FFFFFF;
      font-family: 'Nunito Sans';
    }
    

  h2{
    margin-top: 15px;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 900;
  }


      .nav span  {
        margin-top: 15px;
        font-weight: bold;
        margin-right: 0.5rem;
        color: FFFFFF;
        font-family: 'Nunito Sans';
        font-size: 16px;
        margin-right: -15px;  
      }
    



    }
