@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700,400,300,200&display=swap');

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}


.population{
  font-family: 'Nunito Sans', sans-serif;
}

.MuiInputBase-root{
  width: 250px;
  height: 6vh;
  margin-top: 32px;
  margin-right: 70px; 
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* .back{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 90px 110px;  
  width: 90px;
  border-radius: 10px;
} */

p{
  font-size: 20px;
  
}


.details{
  margin: 45px 0;


}



/* media   queries for Mobile View */
@media screen and (min-width:320px) and (max-width: 480px) { 

  .bright11{
    margin-left: -10px;
    padding-left: 10px;
    margin-top: -100px !important;
  }


    .MuiInputBase-root{
      width: 250px;
      height: 5vh;
      margin-top: 20px;
      border: none;
      font-weight:400;
      background-color: transparent;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }


}
