@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700,400,300,200&display=swap');


*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.nav{
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 98px;
}

.nav span i {
  margin-right: 0.5rem;
}

.search-container{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 0 20px;

}

.search {
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 6vh;
  width:33%;
  margin-top: 30px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;

}


.search-span {
  padding: 20px 45px;
  position: absolute;
}

.input {
border: transparent;
font-family: 'Nunito Sans', sans-serif;
font-size: 14px;
font-weight: light;
max-width: 500px;
/* min-width:300px; */
position: relative;
background-color: transparent;
outline: none;
/* color: white; */
}

.population{
  font-family: 'Nunito Sans', sans-serif;
}

.MuiInputBase-root{
  width: 250px;
  height: 6vh;
  margin-top: 32px;
  margin-right: 70px; 
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.back{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 90px 110px;  
  width: 90px;
  border-radius: 10px;
}

p{
  font-size: 20px;
  
}


.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: left;
  padding: auto 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.card-container{
  font-family: 'Nunito Sans', sans-serif; 
  font-weight: bolder;
  color: black;
  height: 33vh;
  width: 20rem;
  background-color: transparent;
  margin: 30px 66px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
 
}

.flag{
  width: 20rem;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.country {
  font-weight: bolder;
  
  font-family: 'Nunito Sans', sans-serif;
}

.par{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  margin: 10px 0;
  font-size: 14px;
  text-decoration: none;
}

.cardLink{
text-decoration: none;
}


.population, .region, .capital {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

.native-name, .sub-region, .top-level, .language{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

.nav-span:hover {
  cursor: pointer;
}

@media screen and (min-width:320px) and (max-width: 480px) { 

  .nav{
    background-color: transparent;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px;
    font-size: 10px;
    color: FFFFFF;
    font-family: 'Nunito Sans';
  }
  
  h2{
    margin-left: -20px;
  }

  .nav span  {
    margin-right: 0.5rem;
    color: FFFFFF;
    font-family: 'Nunito Sans';
    font-size: 12px;
    margin-right: -15px;
  }

  
  .search-container{
   width: 500px;
   height: 250px;
    padding: 0 auto;
    display: flex;
    flex-direction: column;   
  }
  
  .search {
    height: 54px;
    width:400px;
    margin-top: 30px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    
  }

  .search-span{
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    border-radius: 10px;
    
  }


  .input {
    border: transparent;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    font-weight: light;
    max-width: 400px;
    background-color: transparent;
    
    }

    .MuiInputBase-root{
      width: 180px;
      height: 6vh;
      margin-top: 32px;
      margin-right: 70px; 
      background-color: transparent;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    .card-container{
      font-family: 'Nunito Sans', sans-serif; 
      font-weight: bolder;
      color: black;
      height: 38vh;
      width: 22rem;
      background-color: transparent;
      margin: 0px 66px;
      margin-top: 40px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    
    .cards-container{
      font-family: 'Nunito Sans', sans-serif; 
      font-weight: bolder;
      color: black;
      height: 30vh;
      width: 21rem;
      margin: 0px 50px;
      /* padding-top: 20px; */
      background-color: transparent;
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
      border-radius: 10px;
    }
    
    .flag{
      width: 22rem;
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .details {
      padding: 70px 30px;
    
    }
    
    .country {
      font-weight:800;
      font-size: 20px;
      font-family: 'Nunito Sans' sans-serif;
      
    }
    
  
    .par{
      font-family: 'Nunito Sans', sans-serif;
      font-weight:300;
      margin-top: 20px;
    }
    .population, .region, .capital {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: lighter;
      font-size: 15px;
    }

}
