
.single-card{
    width: 500px;
    height: 550px;
    margin: 0 50px;
    border-radius: 15px;
    padding-top: 40px;
    padding-left: -20px;
    /* background-color: red; */
  }

  .single-flag{
    width: 480px;
    height: 450px;
    border-radius: 15px;
    margin-left: 15px;
    background-color: yellow;
  } 

  .country-btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-left: -100px; */
    
  }
  

  .border-container{
    display:flex;
    flex-direction: row;
    /* align-items:center; */
    width: 1000px;
    /* justify-content: space-between;   */
    padding-top: 60px;
    padding-left: 20px;

  }

 
  .details {
    padding-top: 20px;
    
  }


  .details-main{
    display: flex;
    width: 100%;
  }


  .detail-container-2{
    margin-left: 20%;
  }

 

.detail-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 20px;
  /* background-color: blue; */
}


.details-info{
  width: 100%;
  padding-top: 15px;
  margin-left: 10px;
  /* background-color: red; */
}


.border-row{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 6px 20px;
  margin: 0 10px;
  height: 30px;
  
}


.b-r{
font-family: "Nunito Sans";
font-weight: light;
font-size: 16px;
}


.border-row-p{
  font-size: 12px;
}


.border-row-p-link{
font-family: "Nunito Sans";

  font-size: 12px;
  text-decoration: none;
}


.bk {
align-self: baseline;
}


.back{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 90px 0 90px 70px;  
  /* width: 90px; */
  align-items: center;
  border-radius: 10px;
}

  .name{
    font-family:'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding-left: 20px;
  }
  
  .par2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
    width: 350px;
    
  }

  .par_2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin: 10px 0;
    /* background: red; */
    font-size: 14px;
    text-decoration: none;
    /* width: 120px; */
  }


  /* .details{
    margin: 45px 0;
  } */
  

.native-name{
  margin-left: 10px;
}


                   /* mobile screen styles */
@media screen and (min-width:320px) and (max-width: 480px) { 

  .nav{
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 28px;
    font-size: 12px;
  }
  

  .nav span i {
    margin-right: 0.5rem;
  }


  .back{
    margin: 40px 0 40px 30px;  
    border-radius: 5px;
     width: 116px;
    height: 35px; 
    box-shadow: 2px 2px 4px 2px rgba(0.2, 0.2, 0.2, 0.2);
    background-color: transparent;
  }
  

  p{
    font-size: 17px;
  }


  .single-card{
    margin: 0 10px;
    border-radius: 15px;
    padding-left: 10px;
  }


  .single-flag{
    width: 400px;
    height: 260px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: red;
  }


  .details-main{
    display: flex;
    flex-direction: column;
    width: 100vw;
     overflow-x: hidden;
  }


  .details-main-main{
  margin-top: -250px;
  padding-left: 15px;
  width: auto;
     max-width: 100vw !important;

  }


.detail-container{
  padding-left: 30px;
  flex-direction: column;
}


.detail-container-2{
  display:flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0px;
}


.name{
  height: auto;
  width: auto;
  padding-left: 20px;
}


.details-info{
  width: 100%;
  padding-top: 40px;
  padding-left:10px 
}


.detail-container{
padding-top: 20px;
padding-left: 0;
}


.par_2{
 /* background: red; */
 font-size: 18px;
}


.details{  
  padding-left: 0;
}


.border-container{
  padding-left: 20px;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
}

.country-btns{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 90vw;
/* background-color: red; */
  margin-left: 0;
  /* background-color: aqua; */
padding-left: 0px;
margin-bottom: 50px;
}

.border-row{
  background: white;
  margin: 10px 2px;
  margin-right: 10px;
  padding-top: 6px;
  height: 30px;
}


}